@font-face {
    font-family: 'ubunturegular';
    src: url("../fonts/ubuntu-r-webfont.woff") format("woff"),
    url("../fonts/ubuntu-r-webfont.woff2") format("wooff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url("../fonts/Ubuntu-Medium.woff") format("woff"),
    url("../fonts/Ubuntu-MediumItalic.woff2") format("wooff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ubuntumedium', serif;
    color: #070707;
    background-color: #E5E5E5;
    margin: 0;
    width: 100%;
}

*, html, body {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    height: 97px;
    width: 1200px;
    background: white;
}

.header__hamburger {
    display: none;
}

img {
    max-width: 100%;
}

.header__logo-img {
    position: static;
    width: 141px;
    height: 57px;
    margin: 0 20px 0 0;
}

.header__logo-img::after {
    content: url("../images/Rectangle 1.png");
}

.header__rectangle {
    position: static;
    top: 20px;
    left: 301px;
    width: 5px;
    height: 57px;
    margin: 0 20px 0 0;
}

.header__text {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    /*margin: 0 100px 0 0;*/
    align-content: center;
    align-items: center;
}

.header__nav {
    position: relative;
    width: max-content;
    display: flex;
    margin: 0;
}

.header__text::before {
    content: url("../images/Rectangle 1.png");
    margin-right: 20px;
}

.primary__info {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 120px;
}

.header__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    position: relative;
}

.header__link {
    display: flex;
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    /*padding: 15px 30px;*/
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 30px;
    white-space: nowrap;
    transition: color ease-in .4s;
}

.header__link:hover {
    color: #FFA200;
}

.header__contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
    margin: 0 0 0 233px;
}

.header__phone {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    position: relative;
    display: flex;
    width: max-content;
}

.header__time {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    position: relative;
    display: flex;
    width: max-content;
}

section {
    display: flex;
    width: 100%;
    margin: 0 auto 110px;
}

.primary {
    background-image: url("../images/main-picture.png");
    padding: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.primary__header {
    margin-top: 60px;
    margin-bottom: 91px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
}

.primary__title {
    margin: 0;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    color: #F3F3F3;
}


.title__bottom {
    color: #FFA200;
}

.bottom__wrapper {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin: 0;

}

.btn__order {
    padding: 20px 12px 20px 20px;
    color: #F3F3F3;
    background-color: #FFA200;
    width: 290px;
    height: 61px;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 0;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.btn__order::after {
    content: url("../images/shake-hand.png");
}

.btn__order:hover {
    background: #E99400;
}

.btn__logo {
    width: 51px;
    height: 38px;
}

.primary__text {
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 0;
}

.catalog {
    margin-top: -207px;
}

.catalog__wrapper {
    margin: 0 auto;
    width: 1200px;
    height: max-content;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__title {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
}

.catalog__title::before {
    content: url("../images/Rectangle 1.png");
    width: 7px;
    margin-right: 20px;
}

.catalog__list {
    width: max-content;
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    align-items: center;
}

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}

.catalog__item {
    margin-left: 60px;
}

.catalog__content {
    padding-top: 60px;
    padding-bottom: 40px;
}

.content__list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.item__image {
    width: 370px;
    height: 247px;
}

.item__text {
    margin: 0;
    padding: 0;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}

.item__price {
    color: #FFA200;
}

.item__bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 25px;
}

.item__btn {
    width: 203px;
    height: 50px;
    background: #FFA200;
    border: 0;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.item__btn:hover {
    background: #E99400;
}

.form__wrap::before {
    content: url("../images/image-for-form.png");
    width: 550px;
    height: 372px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.form__wrap {
    margin: 0 auto;
    width: 1200px;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.order__form {
    padding: 25px 0 25px 0;
}

.form__title {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    color: #FFA200;
    margin: 0 0 30px;
}

.form__list {
    margin: 0;
    padding: 0;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    list-style-type: none;
}

.form__item {
    margin-bottom: 40px;
}

.input__title {
    margin-right: 40px;
}

.input__line {
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    width: 350px;
    outline: none;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
}

.input__line:focus {
    border-bottom-color: #FFA200;
}

.send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0;
}

.send__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.btn-submit {
    width: 205px;
    height: 50px;
    background: #FFA200;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reviews__wrap {
    margin: 0 auto;
    width: 1200px;
    height: max-content;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}

.reviews__title {
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
}

.reviews__title::before {
    content: url("../images/Rectangle 1.png");
    width: 7px;
    margin-right: 20px;
}

.reviews__list {
    display: flex;
    margin: 0;
    list-style-type: none;
    font-family: 'ubunturegular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 45px 0 15px;
    justify-content: space-between;
}

.reviews__item {
    width: 480px;
    margin-left: 20px;
    margin-right: 40px;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__name {
    margin: 0;
    display: flex;
    text-align: left;
    align-items: center;
    font-family: 'ubuntumedium', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
}

.link__logo {
    width: 50px;
    height: 50px;
}

.first__name::before {
    content: url("../images/about_pic.png");
    margin-right: 20px;

}

.second__name::before {
    content: url("../images/about_pic2.png");
    margin-right: 20px;
}

.comment__wrapper {
    width: 500px;
}

.comment__text {
    margin: 26px 0 0;
}

.footer::before {
    background-image: url("../images/map 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 563px;
}